.col{

    .card{
        height: 100%;
        cursor: pointer;
        transition: all .3s linear;
        background-color: #faedcd;

        &:hover{
            transform: scale(1.1);
        }
    }
    
}